/* Enter your custom styles here */
/* .boldText {
    font-weight: bold !important;
    padding-left:0px !important;
} */
.red{
    color:red;
}
.padding{
    padding-top:3px
}

.inputClass{
    padding-left:10px;
    margin-top: -40px;
}

/* Enter your custom styles here */
.clProduct{
    max-width: 50vw !important;
}
.VBoxWidth{
    margin-left:1rem !important;
}

.VBoxWidth1{
    margin-left:1rem !important;
}

/* .boldText{
        margin-left:450px !important;
    } */

.sapUxAPObjectPageContainerNoBar>.sapUxAPObjectPageSection:first-child:not(.sapUxAPObjectPageSectionNoTitle){
    margin-top:-1rem !important;
}
.rejectbtn{
    margin-left:1rem !important;
}

.locClass{
    margin-left:1rem !important;
}
.prodClass{
    margin-top:-3px !important;
}

.sapUiTinyMarginBottom {
    margin-top:0.15rem;
    font-size:12px !important;
  }

  .sapMSticky1>.sapMListHdr, .sapMSticky2>.sapMListInfoTBarContainer, .sapMSticky3>.sapMListHdr {
    visibility: hidden; 
     top: 0; 
     margin-top: -3rem !important
     ;
}